# General

.DS_Store
out/
venv/
.venv/
*.stl

# KICAD

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
*.net
*.dsn
*.ses
**/*-backups/*.zip
*.kicad_prl
*.step
*.stp

# FREECAD

*.FCStd1
*.FCBak

# WIREVIZ 

CHA/**/*.png
CHA/**/*.html
CHA/**/*.svg
CHA/**/*.bom.tsv
